
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.loadFieldTitle {
  font-size: 28px;
  color: black;
  border-bottom: 1px solid #d6d6d6;
  margin: 5px;
}

.div-with-buttons{
  button {
    margin: 5px;
  }
  padding: 5px;
}

.input-translate-block{
  padding: 7px;
  display: inline-block;
  height:150px;
}
